#-------
# C/C++
#-------

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#------
# Misc
#------

# Systems file
.DS_Store

# Build directory
/build
/cmake-build-debug

# Visual Studio & CLion caches
/.vs
/.idea